<div class="row about">
  <div class="col-md-8 col-md-offset-2">
    <h1>About Churches Help</h1>
    

    <p>
      Churches Help was developed by Beau Carnes through his company <a href="http://fruitful.software">Fruitful Software</a>. Fruitful Software is a missional software company. A majority of profits go directly to non-profit organizations.
    </p>
    <p>
      A few years ago Beau realized that a lot of churches were doing great things but they would sometimes have very similar ministries. He came up with the idea of developing a database of different things churches were doing for the community for two purposes. First, this would allow churches to see what other churches were already doing so they did try to meet a need that was already being met by another church. It would make it easier to determine what community needs were still unmet. The second reason for the database was to make it easier for community members to figure out where to go when they had certain needs. 
    </p>
    <p>
      A few years after having the initial idea, Beau started learning more about coding and web development. He realized this was a great idea for a website. After talking to local pastors about the idea it became obvious that the idea should expand to be a full event-management program for churches. 

      </p>
      <p>
      Special thanks to <a href="https://github.com/railsbridge/bridge_troll">Bridge Troll.</a> Bridge Troll formed the foundation for this website.
    </p>
  </div>
</div>
