<div class="row">
  <div class="col-md-12">
    <div class='upcoming-events'>
      <label class="region-select-container form-inline">
        Filter: <%= select_tag :region,
                               options_from_collection_for_select(@event_regions, "id", "name"),
                               prompt: "All Regions",
                               class: 'region-select form-control' %>
      </label>
      <h1>Upcoming events</h1>

      <% if @events.empty? %>
        <h2>There are currently no upcoming events.</h2>
      <% end %>
      <% @events.each do |event| %>
        <%= render 'upcoming_event', event: event %>
      <% end %>
    </div>


    <div class='past-events'>
      <h1>Past events</h1>
      <%= render 'shared/events_table', events: @past_events %>
    </div>

    <% if user_signed_in? %>
      <% links = [
        ['Minstries', ministries_path],
        ['Churches', locations_path]
      ] %>
      <% if current_user.admin? %>
        <% links << ['Publish Unpublished Events / Ministries', unpublished_events_path] %>
      <% end %>
      <%= render 'shared/actions', links: links, additional_class: 'no-margin' %>
    <% end %>

  </div>
</div>
