<%= content_for(:header_text, @ministry.title) %>
<%= content_for(:header_link, ministry_path(@ministry)) %>

<div class="row">
  <div class="col-md-8 event-form">
    <h1>Editing ministry</h1>
    <%= render 'form' %>
  </div>
</div>

<%= render 'shared/actions', links: [
  ['Back', @ministry],
  ['Manage Locations', locations_path],
] %>

