$level-blue: #2F96B4;
$level-green: #51A351;
$level-gold: #fcaa2f;
$level-purple: #843178;
$level-orange: #e34d0b;
$level-pink: #ff0490;

$red-color: #8C2318;
$orange-color: #ffcc66;
$yellow-color: #F2C45A;
$green-color: #BFB35A;
$blue-color: #88A65E;
$darkblue-color: #5E8C6A;
$black-color: #333;
$darkgray-color: #767676;

$content-background-color: white;
